<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ALlsuite">
    <parameter name="testEnv" value="${testEnv}"/>
    <test verbose="2" preserve-order="true" name="/Users/sylvia/Desktop/Workspace/IDEA/eazytest">
        <classes>
            <class name="com.heliqin.ciautotest.Case.TestCase">
                <methods>
                    <include name="isOK"/>
                    <include name="isParanmeter"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>